#root {
  overflow: hidden;
}
// ----------------------------
// VARIABLES
// ----------------------------
* {
  font-family: Arial, Helvetica, sans-serif;
}

$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-text-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// -----------------------------
// Header
// -----------------------------

nav {
  background-color: #2a9612; 
  color: $contrastcolor; 
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  height: 5vh;

  a {
    color: $contrastcolor; 
    margin: 0 auto;
    text-align: center;
    font-size: large;
  }
}

/* Apply column layout to forms */
.form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Apply styles to form inputs */
.form-input {
  margin: 10px 0;
  padding: 5px;
  width: 80%; /* Adjust the width to your preference */
  color: #2a9612;
}

h1, h2, h3{
  text-align: center;
  padding: 3%;
  color: #2a9612;
}



/* Style the form button */
.form-button {
  margin-top: 10px;
  padding: 10px 20px; 
  border: none; 
  border-radius: 25px; 
  color: whitesmoke;
  background-color: #2a9612;
  margin-top: 10px;
  align-self: center;
}

.form-container {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 10px; 
  width: 60%; 
  margin: 0 auto; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}

// -----------------------------
// Stacked-Card
// -----------------------------

.card-container{
   width:500px;
   height: 400px;
   overflow: hidden;
   box-shadow:0px 0px 15px -5px ; 
   transition: 0.3s;
   animation: ease-in;
}
  .card-container:hover{
      transform: scale(1.1);
      box-shadow: 0px ppx 15px 0px;
  }
  .image-container{
    height: 50px;
    width: 50px;
  }
.image-container img{
 overflow: hidden;
 height: 100px;
}
.card-content{
    margin: 0.5rem;
    margin-top:0.5rem
}
h3,p{
    margin: 0;
    padding: 0;
}
.card-title{
   margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
.btn button:hover{
    background-color: rgb(27,156,252,0.1);
    transform: scale(1.1);
}

a {
        text-transform: uppercase;
        color:#1B9CFC;
        text-decoration:none ;
        font-weight: bold;
}

// Main page signup and login buttons
.main-container {
  margin-top: 80px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.auth-buttons {
  display: flex;
}

.auth-button {
  margin: 0 10px;
  text-align: center;
}

.auth-button button {
  background-color: #2a9612;
  color: whitesmoke;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.auth-button button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

//CARD STYLING 
.swipe {
  position: absolute;
}

.swiper-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.card-container {
  width: 90vw;
  max-width: 460px;
  height: 500px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 460px;
  height: 500px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;

  img {
    max-width: 350px;
    max-height: 600px;
    border-radius: 50%;
    position: absolute;
    bottom: 10rem;
  }

  h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
  border: 2px solid gold;
  border-radius: 50%;
  padding: 30px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a9612;
  }

  h4 {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    margin-right: 5px;
  }

  #dogBreed {
    position: absolute;
    left: 0;
    text-transform: uppercase;
    margin-left: 5px;
  }
}


.swipe-info {
 position: relative;
}

.cardContent {
  width: 100%;
  height: 100%;
}
/////////////////////
// Sidebar
////////////////////
* {
  box-sizing: border-box;
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}

